[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "adaptDiag"]
	path = adaptDiag
	url = https://github.com/graemeleehickey/adaptdiag
	shallow = true
	registered = true
[submodule "bayesDP"]
	path = bayesDP
	url = https://github.com/graemeleehickey/bayesdp
	shallow = true
	registered = true
[submodule "joineR"]
	path = joineR
	url = https://github.com/graemeleehickey/joiner
	shallow = true
	registered = true
[submodule "joineRML"]
	path = joineRML
	url = https://github.com/graemeleehickey/joinerml
	shallow = true
	registered = true
