[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaptDiag"]
	path = adaptDiag
	url = https://github.com/graemeleehickey/adaptdiag
[submodule "bayesDP"]
	path = bayesDP
	url = https://github.com/graemeleehickey/bayesdp
[submodule "joineR"]
	path = joineR
	url = https://github.com/graemeleehickey/joiner
[submodule "joineRML"]
	path = joineRML
	url = https://github.com/graemeleehickey/joinerml
